<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="sidebar" class="sidebar" data-color="green">
				<div class="logo">
					<a class="simple-text logo-mini" style="color: black;"> CT </a> <a
						class="simple-text logo-normal" style="color: black;"> Econova
					</a>
				</div>

				<div class="sidebar-wrapper" id="sidebar-wrapper">
					<ul class="nav">



						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_DRIVER')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons loader_gear"></i> <span
								style="color: black;">Servicio</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"
									th:href="@{/service/new}">Registrar</a> <a
									class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DRIVER')"
									th:href="@{/service/list}">Listar</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DRIVER')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons files_paper"></i> <span
								style="color: black;">Libretas</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:href="@{/listvaccination/new}">Registrar</a> <a
									class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DRIVER')"
									th:href="@{/listvaccination/list}">Listar</a>

							</div></li>


						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_DRIVER')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons transportation_bus-front-12"></i> <span
								style="color: black;">Camion</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/camion/new}">Registrar</a>
								<a class="dropdown-item" th:href="@{/camion/list}">Listar</a>

							</div></li>



						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons business_badge"></i> <span
								style="color: black;">Conductor</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/driver/new}">Registrar</a>
								<a class="dropdown-item" th:href="@{/driver/list}">Listar</a>

							</div></li>


						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons files_paper"></i> <span
								style="color: black;">Factura</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:href="@{/invoice/new}">Registrar</a> <a
									class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"
									th:href="@{/invoice/list}">Listar</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons business_bank"></i> <span
								style="color: black;">Empresa</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"
									th:href="@{/company/new}">Registrar</a> <a
									class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:href="@{/company/list}">Listar</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons objects_diamond"></i> <span
								style="color: black;">Suscripciones</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item"
									sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:href="@{/typesuscription/new}">Registrar</a> <a
									class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')"
									th:href="@{/typesuscription/list}">Listar</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons travel_info"></i> <span
								style="color: black;">Roles</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/roles/nuevo}">Registrar</a>
								<a class="dropdown-item" th:href="@{/roles/listar}">Listar</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons design-2_ruler-pencil"></i> <span
								style="color: black;">Vacuna</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/vaccine/new}">Registrar</a>
								<a class="dropdown-item" th:href="@{/vaccine/list}">Listar</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons files_single-copy-04"></i> <span
								style="color: black;">Reportes</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/service/reporte1}">Reporte
									1</a> <a class="dropdown-item"
									th:href="@{/typesuscription/reporte1}">Reporte 2</a>

							</div></li>

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="now-ui-icons education_paper"></i> <span
								style="color: black;">Usuarios</span>
						</a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/user/listar}">Lista
									Usuarios</a>

							</div></li>

					</ul>
				</div>
			</div>
	
</body>
</html>